//
// These are to replace stuff I used to use from compass, mostly.
//
@mixin transition($args...) {
  -webkit-transition:$args;
  transition:$args;
}


// Source: Compass.
// Set all the colors for a link with one mixin call.
// Order of arguments is:
//
// 1. normal
// 2. hover
// 3. active
// 4. visited
// 5. focus
//
// Those states not specified will inherit.
// Mixin to an anchor link like so:
//     a
//       +link-colors(#00c, #0cc, #c0c, #ccc, #cc0)
@mixin link-colors($normal, $hover: false, $active: false, $visited: false, $focus: false) {
  color: $normal;
  @if $visited {
    &:visited {
      color: $visited; } }
  @if $focus {
    &:focus {
      color: $focus; } }
  @if $hover {
    &:hover {
      color: $hover; } }
  @if $active {
    &:active {
      color: $active; } } }

// Simple clearfix - don't use this going forward.
@mixin clearfix {
  overflow:hidden;
}

// The following mixins do nothing! Browsers have caught up. Do not use these mixins going forward.
@mixin box-sizing($foo) {
  box-sizing: $foo;
}
@mixin box-shadow($args...) {
  box-shadow: $args;
}
@mixin border-radius($args...) {
  border-radius: $args;
}
@mixin background($args...) {
  background: $args;
}
// Thing is, this does nothing
@function linear-gradient($args...) {
  @return unquote('linear-gradient(' + $args + ')');
}

